In [1]:
#Data Structure in Pandas - Two types  1)Series 2)DataFrame and Panel

#Series - it is one-dimaensional array that is storing varaious data types.
import pandas as pd

In [2]:
# Check Pandas Verison
pd.__version__

'1.5.2'

In [3]:
# Creating Series with List
abc= [2,4,6,8,-4.5,-2.5,'Pandas']  # Create List
series1 = pd.Series(abc) # Create Series
series1 # Print

0         2
1         4
2         6
3         8
4      -4.5
5      -2.5
6    Pandas
dtype: object

In [4]:
# type of data type
type(series1)

pandas.core.series.Series

In [5]:
#create empty series
empty_series =pd.Series([])
empty_series

C:\Users\amits\AppData\Local\Temp\ipykernel_8480\3232136634.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series =pd.Series([])

Series([], dtype: float64)

In [7]:
# Create Series with Index label
series2 = pd.Series([10,20,30,40,50],index=['A','B','C','D','E'])
series2

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [8]:
# Create Series with dictionary
data = {
    'A':10,
    'B':20,
    'C':30,
    'D':40
}
series3 =pd.Series(data)
series3

A    10
B    20
C    30
D    40
dtype: int64

In [9]:
#Accessing index label
series3['A']

10

In [10]:
# accessing multiple index
series3[['A','C']]

A    10
C    30
dtype: int64

In [17]:
# Series with Matheematical operation
# creating 2 Pandas Series
series4 = pd.Series([1, 2, 3, 4, 5])
series5 = pd.Series([6, 7, 8, 9, 10])

# Addition
add = series4 + series5
add

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [18]:
# subtraction
sub = series4-series5
sub

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [19]:
# Multiplication
mul = series4*series5
mul

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [20]:
# Division
div = series4/series5
div

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [21]:
#Accesing values of array
series5.values

array([ 6,  7,  8,  9, 10], dtype=int64)

In [22]:
#Accessing index label
series5.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
#check lenth of Series
series5.__len__()

5

In [25]:
#Calculate the Mean
series5.mean()

8.0

In [30]:
#Calculate the Median value 
series5.median()

8.0

In [31]:
# Calculate miximum Value
series5.max()

10

In [29]:
# Calculate Minimum Value
series5.min()

6

In [32]:
# Checking missing data in series
series5.isnull()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [33]:
# Checking non missing data in series
series5.notnull()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [44]:
#.loc - Access a group of rows and column by labels or a boolean array
print(series2) # Access Series no 2
print("Result is  ",series2.loc['A'])

A    10
B    20
C    30
D    40
E    50
dtype: int64
Result is   10

In [47]:
#shape data
series2.shape

(5,)

In [50]:
#series.size  - number of element in the data
series2.size

5