In [1]:
#Data Structure in Pandas - Two types  1)Series 2)DataFrame and Panel

#Series - it is one-dimaensional array that is storing varaious data types.
import pandas as pd

In [20]:
# Creating Series with List
abc= [2,4,6,8]  
var = pd.Series(abc)
var

0    2
1    4
2    6
3    8
dtype: int64

In [22]:
#Get specified Value from series
print(var[2])

6

In [23]:
#check type of series
print(type(var))

<class 'pandas.core.series.Series'>

In [44]:
#Change index value
var1 = pd.Series(abc,index=["A","B","C","D"]) 
var1

A    2
B    4
C    6
D    8
dtype: int64

In [48]:
# Change Datatype 
var1.astype('float')

A    2.0
B    4.0
C    6.0
D    8.0
dtype: float64

In [50]:
#Series using Dictonary
dic = {
    "name":['Python','Pandas','Numpy','Java'],
    "pop":[10,20,30,40],
    "rank":[1,4,6,2]
}
ser1 = pd.Series(dic)
ser1

name    [Python, Pandas, Numpy, Java]
pop                  [10, 20, 30, 40]
rank                     [1, 4, 6, 2]
dtype: object

In [62]:
#Binary Operation on Series  .add() & .sub() Function
s1 = pd.Series(10,index=[1,2,3,4,5,6,7]) # Creating Series 1
s2 = pd.Series(20,index=[1,2,3,4]) # creating Series 2
# Addition of 2 series using .add() Binary operation function
res=s1.add(s2)
res

1    30.0
2    30.0
3    30.0
4    30.0
5     NaN
6     NaN
7     NaN
dtype: float64

In [63]:
# Substraction of 2 series using .sub() Binary operation function
res1=s1.sub(s2)
res1

1   -10.0
2   -10.0
3   -10.0
4   -10.0
5     NaN
6     NaN
7     NaN
dtype: float64

In [67]:
#dropna-  remove null values 
res.dropna(inplace=True)
res

1    30.0
2    30.0
3    30.0
4    30.0
dtype: float64

In [69]:
# Combine_first() Method - used to combine two series into one
combine = s2.combine_first(s1)
combine

1    20.0
2    20.0
3    20.0
4    20.0
5    10.0
6    10.0
7    10.0
dtype: float64

In [72]:
#creating series using for loop and list 
ser=pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [74]:
# Add one series to another series using append() and concat()
#append()- appends one series objects at the end of another series and returns appended series

a1 = pd.Series([2,4,6,8,10])
a2 = pd.Series([12,14,16,18,20])
#Adding a2 to a1 using append()
append1=a1.append(a2,ignore_index=True)
append1

C:\Users\amits\AppData\Local\Temp\ipykernel_9816\2102478892.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append1=a1.append(a2,ignore_index=True)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [80]:
# concatenate two series
con1=pd.concat([a1,a2],axis=1)
con1

    0   1   0
0   2  12  12
1   4  14  14
2   6  16  16
3   8  18  18
4  10  20  20
0  12  12  12
1  14  14  14
2  16  16  16
3  18  18  18
4  20  20  20

In [ ]:
#add external file

In [42]:
# Change Date type

TypeError: 'numpy.dtype[int64]' object is not callable