In [1]:
import pandas as pd

In [2]:
#Series - It is a one-dimensional array holding data of any type, Series like a column in a table

# create series
data = pd.Series([1,"Jack",3.5,"Welcome"])
data

0          1
1       Jack
2        3.5
3    Welcome
dtype: object

In [3]:
#Fetch first 2 element
data.head(2)

0       1
1    Jack
dtype: object

In [4]:
# accessing a element using index element
data[1]

'Jack'

In [5]:
#Using indexing a series using.loc[] - The .loc indexer selects data in differnt way than just indexing operator.it can select subsets of data
data.loc[2:4]

2        3.5
3    Welcome
dtype: object

In [6]:
# .iloc[] indexing - Similar to .loc[] but only uses integer location to make its selection
data.iloc[2:4]

2        3.5
3    Welcome
dtype: object

In [8]:
#Binary operations on series like .add(),sub() 
import pandas as pd # import pandas module
data1 = pd.Series([1,2,3,4],index=['a','b','c','d']) # creating a series 1
data2 = pd.Series([6,7,8,9],index=['a','b','c','d']) # creating a series 2

print(data1, "\n\n" ,data2) # Print both series 1 and Series 2

a    1
b    2
c    3
d    4
dtype: int64

 a    6
b    7
c    8
d    9
dtype: int64

In [10]:
#Add two series using .add() function
res = data1.add(data2)
res

a     7
b     9
c    11
d    13
dtype: int64

In [13]:
# substract two series using .sub() function
res1 =data1.sub(data2)
res1

a   -5
b   -5
c   -5
d   -5
dtype: int64

In [14]:
# importing numpy modules
import pandas as pd 
import numpy as np

In [16]:
#combine_first()- Method is used to combine two series into one
s1 = pd.Series([70, 5, 0, 225, 1, 16, np.nan, 10, np.nan]) # creating series 1
s2 = pd.Series([27, np.nan, 2, 23, 1, 95, 53, 10, 5])  # creating series 2
result1=s1.combine_first(s2)
result2=s2.combine_first(s1)
# printing result
print('Result 1:\n', result1, '\n\nResult 2:\n', result2)

Result 1:
 0     70.0
1      5.0
2      0.0
3    225.0
4      1.0
5     16.0
6     53.0
7     10.0
8      5.0
dtype: float64

Result 2:
 0    27.0
1     5.0
2     2.0
3    23.0
4     1.0
5    95.0
6    53.0
7    10.0
8     5.0
dtype: float64